body{
	background-color: #f0f4f7;
	padding-top: 80px;
}
.radius{
	border-radius: 20px;
}
.cx{
	background: #24c0bc;
	color: white;
	border-radius: 20px;
}
.cx:hover{
	background: #1a918e;
	color: white;
}
.bumen{
	margin-left: 40px;
	padding:0;
	text-align: center;
	min-width: 68%;
	border-radius: 20px;
}
.bumen li a{
	background: #f8f8f8;
	width: 100%;
	border-radius: 25px;
}
.bumen2{
	margin-left: 13px;
	padding:0;
	text-align: center;
	min-width: 102%;
	border-radius: 20px;
}
.bumen2 li a{
	background: #f8f8f8;
	width: 100%;
	border-radius: 25px;
}
.th td{
	background: #f8f8f8;
}
.bumen1{
	margin-left:76px;
	margin-top:0; 
	padding:0;
	text-align: center;
	min-width: 20%;
}
.bumen1 li a{
	background: #000;
	width: 104%;
	color: #b8b9bc;

}
.bumen1 li a:hover{
	background: #343843;
	width: 104%;
	color: #fff;
}
#out{
	color: #23a29e;
}
#out:hover{
	color: #2ce7e1;
}
.success1{
	color: #24c0b9;
}
.no{
	color: #ea9292;
}
.ing{
	color: #eae392;
}
.list li a{
	border: 0px;
	color: #aaa;
}
.special a{
	border: 1px solid #eee;
	padding: 5px 10px;
	border-radius: 15px;
}
.special a:hover{
	border: 1px solid #eee;
	padding: 5px 10px;
	border-radius: 30px;
}
#a{
	color: #24c0b9;
}